@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,cyrillic);

#slider-f H2 {
  text-align: left;
}
#slider-f P {
  font-size: 32px;
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
}
#content5-h .mbr-section-title {
  font-size: 46px;
  text-align: center;
}
#msg-box4-i .lead P {
  font-size: 18px;
}
#menu-0 .navbar-toggler {
  color: #d5f4f0;
}
#content5-j .mbr-section-title {
  font-size: 46px;
  text-align: left;
}
#content5-l .mbr-section-title {
  font-size: 46px;
  text-align: left;
}
#msg-box4-m .lead P {
  text-align: left;
}
#msg-box4-n .lead P {
  text-align: left;
}
#content5-q .mbr-section-title {
  font-size: 46px;
  text-align: left;
}
#content5-q .mbr-section-title B {
  font-size: 32px;
}
#content5-r .mbr-section-title {
  font-size: 46px;
  text-align: left;
}
#content5-r P {
  text-align: left;
}
#content5-1a .mbr-section-title {
  font-size: 46px;
  text-align: left;
}
#content5-1a .mbr-section-title B {
  font-size: 32px;
}
#content5-p .mbr-section-title {
  font-size: 46px;
  text-align: left;
}
#content5-p .mbr-section-title B {
  font-size: 32px;
}
#menu-s .navbar-toggler {
  color: #d5f4f0;
}
#content5-z .mbr-section-title {
  font-size: 46px;
  text-align: left;
}
#content5-z P {
  text-align: left;
}
#features1-10 H4 {
  font-size: 21px;
}
#features1-1k H4 {
  font-size: 21px;
}
#content5-y P {
  font-size: 19px;
}
#content5-1c P {
  font-size: 17px;
}
#content5-1d P {
  font-size: 17px;
}
#content5-1e P {
  font-size: 17px;
}
#content5-1f P {
  font-size: 17px;
}
#content5-1g P {
  font-size: 17px;
}
#content5-1h P {
  font-size: 17px;
}
#content5-1b .mbr-section-title {
  font-size: 46px;
  text-align: left;
}
#content5-1b P {
  text-align: left;
}
